<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/assets/favicon.ico" rel="icon">

  <title>Will Fahie</title>  

<link href="./static/main.3f6952e4.css" rel="stylesheet"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
<!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="">01 : Home</a></li>
          <li><a href="./works.html" title="">02 : Works</a></li>
          <li><a href="./about.html" title="">03 : About me</a></li>
          <li><a href="./contact.html" title="">04 : Contact</a></li>
        </ul>


          <ul class="nav navbar-nav navbar-right navbar-small visible-md visible-lg">
            <li><a href="./works.html" title=""><--- back <---</a></li>
          </ul>


      </div> 
    </div>
  </nav>
</header>
<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <img src="./static/assets/images/code.png" class="img-responsive" alt="">
        <div class="card-container">
          <div class="text-center">
            <h1 class="h2">Python</h1>
          </div>
          <h3>
            <p>"Testing leads to failure, and failure leads to understanding."</p>
            <small class="pull-right"> - Burt Rutan</small>
          </h3>
          <br>
          <p>
            <br>
            I thoroughly enjoy programming. I love having a problem, or something that needs solving, and then trying different methods to solve it - most usually don't work! But eventually, one of those methods works and you solve the problem. In my opinion, there is no better feeling than that moment.
            <br><br>
            <h3 style="text-align: center;">
              My experience
            </h3>
            I am in no way an "expert" programmer. I first discovered programming in GCSE Computer Science, using Python. I did little bits here and there, making some small projects like a calculator, notepad, login system. It was only when I started A level Computer Science that my fascination and enjoyment in programming spiked. I learned the basics of Object-Oriented Programming through the A level course, however it was the work I did outside of the syllabus where I gained the most experience.
            <br><br>
            I completed two 30 to 40 hour online courses on Udemy (<a href="./courses.html">click here to view them</a>), and played around with a few different languages. My experience/knowledge in programming is about 90% python-based. However, I have done some work with C++, Swift, HTML and CSS. I am always growing my knowledge, and intend to learn and work with languages other than Python going into the future.
            <br><br>
          <p style="text-align: center;">
            To find all of my projects, check out my GitHub by clicking <a href="https://github.com/Will-Fahie">here!</a> But here are a few of my favourites:
          </p>
          <br>

           <h3 style="text-align: center">
             Pong!
           </h3>
            <img src="./static/assets/images/pong.gif" class="img-responsive" alt="Pong">
            <br>
            <h3 style="text-align: center">
             Gravitation modeller
           </h3>
            <img src="./static/assets/images/gravity.gif" class="img-responsive" alt="Gravity">
            <br>
            <h3 style="text-align: center">
             Snake
           </h3>
            <img src="./static/assets/images/snake2.gif" class="img-responsive" alt="Snake machine learning">
            <br>
            <h3 style="text-align: center">
             Password data breach checker
           </h3>
            <img src="./static/assets/images/password.jpg" class="img-responsive" alt="Password checker" style="width:74%;">
            <br>
            <h3 style="text-align: center">
             Projectile motion modeller
           </h3>
            <img src="./static/assets/images/projectile.gif" class="img-responsive" alt="Password checker" style="width:74%;">
            <br>

          <h3 style="text-align: center">
            Projectile motion V2 (with drag and bounce physics)
            <br><br>
            <img src="./static/assets/images/projectile-motion-v2.gif" alt="Image" class="img-responsive">
          </h3>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--> <script type="text/javascript" src="./static/main.70a66962.js"></script></body>

</html>